/* src/app/globals.css */

:root {
  --cs-dark: #121212;
  --cs-dark-secondary: #1e1e1e;
  --cs-yellow: #FFD700;
  --cs-blue: #4a90e2;
  --text-primary: #f5f5f5; /* Um branco mais suave */
  --text-secondary: #a0a0a0;
  --border-color: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-primary);
  background-color: var(--cs-dark);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}